.header{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height:6rem;
  border: 2px solid black;
  margin-bottom: 2rem;
  box-shadow: 4px 4px 0px black;
}