@media (prefers-color-scheme: dark) {
  .header {
    border: 2px solid white;
    box-shadow: 4px 4px 0px white;
  }
}

@media (prefers-color-scheme: light) {
  .header {
    border: 2px solid #333;
    box-shadow: 4px 4px 0px #333;
  }
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 6rem;
  margin-bottom: 2rem;
}
