*, *::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}



#app{
  padding: 1rem;
  height:100%;

}

.main{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5rem;

  &-section{
    border: 1px solid black;
    padding: 0.5rem;
    height:auto;

    &__title{
      text-align: center;
    }

    &__content{
      width:100%;
      height:200px;
      max-height:100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

canvas{
  border: 1px solid black;
  height: 100%;
  width:100%;
}

.button{
  padding:0.5rem 1rem;
  font-size: 1.2rem;
  border: 1px solid black;
  box-shadow: 2px 2px 0px black;
}

input{
  display:block;
}
