*, *::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

#app{
  padding: 1rem;
  border: 2px solid black;
}